/* Typography */


@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}


/* Custom Styles */

main {
    background: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0 30px;
	text-align: left;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

